<h1>Ejemplos PIPES nativos Angular</h1>

<!-- Fechas -->
<h2>Pipes para fechas</h2>
<p>Mi cumpleaños sin PIPE es: {{dob}} </p>
<p>Mi cumpleaños con PIPE DATE Básico es: {{dob | date}}  </p>
<p>Mi cumpleaños con PIPE "dd/MM/yyyy" es: {{dob | date: "dd/MM/yyyy"}}  </p>

<p>Mi cumpleaños con PIPE DATE Short es: {{dob | date : "shortDate"}}  </p>
<p>Mi cumpleaños con PIPE DATE Full es: {{dob | date : "fullDate"}}  </p>

<p>Mi cumpleaños con PIPE DATE Short/Full es: {{dob | date : dateFormat}}  </p>

<button (click)="cambiarFormato()">Cambiar formato a {{!cambio ? 'Short' : 'Full' }} </button>

<!-- Mayúsculas / Minúsculas -->
<p>Bienvenido, {{nombre | uppercase}} </p>
<p>Nombre de usuario, @{{nombre | lowercase}} </p>

<!-- Moneda (Currency) -->
<p>Precio del Carrito (€): {{precioCarrito | currency: 'EUR'}} </p>
<p>Precio del Carrito ($): {{precioCarrito | currency: 'USD':true}} </p>
<p>Precio del Carrito (€): {{precioCarrito | currency: 'EUR':true:'.3-3'}} </p>

<!-- JSON  -->
<p>{{persona | json}}</p>

<!-- Porcentajes-->
<p>Porcentaje de Votos Obtenidos: {{cantidad | percent: '2.2-2'}} </p>

<!-- Slices -->
<p>Texto demasiado largo: {{textoLargo |slice: 0:10}}... </p>

<!-- Decimales -->
<p>PI (3 decimales): {{numero_PI | number: '.3-3'}} </p>
<p>PI (5 decimales): {{numero_PI | number: '.5-5'}} </p>
<p>PI (2 enteros y 8 decimales): {{numero_PI | number: '2.8-8'}} </p>

<!-- Combinación de Pipes -->

<p>Mi cumpleaños con PIPE DATE Short/Full MAYUS es: {{dob | date: dateFormat | uppercase}} </p>
<p>Mi cumpleaños con PIPE DATE Short/Full MINUS es: {{dob | date: dateFormat | lowercase}} </p>

<!-- Pipe Personalizado (Multiplica) -->
<p>Resultado: {{2 | multiplica: 10}} puntos </p>

<!-- Pipe Personalizado (CalcularPuntuacion) -->
<p>{{jugador1 | calcularPuntuacion }} </p>
<p>{{jugador2 | calcularPuntuacion }} </p>





