<form [formGroup]="miFormularioValidado" (submit)="enviarFormulario()">

    <h3>Datos en vivo del formulario</h3>
    <p>{{miFormularioValidado.value | json}} </p>

    <!-- Campos de Formulario + Mensaje de Error por Validación -->
    <!-- NOMBRE -->
    <input placeholder="Nombre" formControlName="nombre">
    <div *ngIf="nombre?.errors?.['required'] && nombre?.touched">
        <p [ngStyle]="{color: 'tomato'}">El campo Nombre es obligatorio</p>
    </div>

    <!-- APELLIDOS -->
    <input placeholder="Apellidos" formControlName="apellidos">

    <!-- EDAD -->
    <input type="number" placeholder="Edad" formControlName="edad"/>
    <div *ngIf="edad?.errors?.['required'] && edad?.touched">
        <p [ngStyle]="{color: 'tomato'}">El campo Edad es obligatorio</p>
    </div>
    <div *ngIf="edad?.errors?.['min'] && edad?.touched">
        <p [ngStyle]="{color: 'tomato'}">
            El campo Edad no puede ser inferior a 18. No puedes registrarte con {{edad?.errors?.['min'].actual}} años</p>
    </div>
    <div *ngIf="edad?.errors?.['max'] && edad?.touched">
        <p [ngStyle]="{color: 'tomato'}">
            El campo Edad no puede ser superior a 100 años. No puedes registrarte con {{edad?.errors?.['max'].actual}} años</p>
    </div>

    <!-- EMAIL -->
    <input placeholder="Email" formControlName="email">
    <div *ngIf="email?.errors?.['required'] && email?.touched">
        <p [ngStyle]="{color: 'tomato'}">El campo Email es obligatorio</p>
    </div>
    <div *ngIf="email?.errors?.['email'] && email?.touched">
        <p [ngStyle]="{color: 'tomato'}">El campo Email no es válido</p>
    </div>

    <!-- CONTRASEÑA -->
    <input type="password" placeholder="Contraseña" formControlName="password">
    <div *ngIf="password?.errors?.['required'] && password?.touched">
        <p [ngStyle]="{color: 'tomato'}">El campo Contraseña es obligatorio</p>
    </div>
    <div *ngIf="password?.errors?.['pattern'] && password?.touched">
        <p [ngStyle]="{color: 'tomato'}">El campo Contraseña no es válido</p>
    </div>

    <!-- ACEPTA -->
    <input type="checkbox" formControlName="acepta"> Aceptar
    <div *ngIf="acepta?.errors?.['requiredTrue'] && acepta?.touched">
        <p [ngStyle]="{color: 'tomato'}">Debes aceptar los terminos</p>
    </div>


    <!-- Boton de submit que se activa cuando el formulario es valido -->
    <button type="submit" [disabled]="miFormularioValidado.invalid">Enviar</button>

</form>
